<div >
  <div>
    <div>
      Todo List
    </div>
    <div>
      <button class="btn btn-primary" routerLink="todo">add</button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">Status</th>
      <th scope="col">Responsible</th>
      <th scope="col">Create Date</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let todo of todos">
      <tr>
        <th>{{todo.id}}</th>
        <th>{{todo.title}}</th>
        <th>{{todo.status}}</th>
        <th>{{todo?.responsiblePerson?.fullName}}</th>
        <th>{{todo.createAt}}</th>

        <button class="btn" routerLink="/todo/edit/{{todo.id}}">Edit</button>
        <button class="btn" (click)="delete(todo.id)">Delete</button>
        <button class="btn" (click)="complete(todo.id)">Change Complete</button>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
